@font-face {
    font-family: 'InconsolataMedium';
    src: url('../resources/fonts/Inconsolata-webfont.eot');
    src: url('../resources/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/Inconsolata-webfont.woff') format('woff'),
         url('../resources/fonts/Inconsolata-webfont.ttf') format('truetype'),
         url('../resources/fonts/Inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}* html .clearfix {height: 1%;}

body {
  background: #fff;
  font: 15px/1.5 'InconsolataMedium';
}

a {
  color: #1193F6;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: border-bottom;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-duration: 0.2s;
  -moz-transition-property: border-bottom;
  -moz-transition-timing-function: ease-in;
}
  a:hover {
    border-bottom: 2px solid #E1EAFE;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: border-bottom;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-duration: 0.3s;
    -moz-transition-property: border-bottom;
    -moz-transition-timing-function: ease-in;
  }

b, strong {
  font-family: 'InconsolataMedium';
  font-weight: normal;
}

li p, li ul {
  margin-bottom: 0px;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
  margin-right: 10px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'InconsolataMedium';
  font-weight: normal;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

#universe {
  margin: 0px auto;
  width: auto;
}

#header {
  height: 100px;
}

#title {
  color: #f4f4f4;
  margin-top: -45px;
  float: left;
  font-size: 75px;
}
  #title a {
    color: #f4f4f4;
  }
    #title a:hover {
      color: #f4f4f4;
      text-decoration: none;
      /*border: none;*/
    }

#navigation {
  font-size: 15px;
  float: right;
  margin: 20px 0px 20px 0px;
}
  #navigation a {
    color: #939393;
    margin: 0px 15px;
    text-decoration: none;
  }
    #navigation a:hover {
      border: none;
      text-decoration: none;
      border-bottom: 2px solid #F8F8F8;
    }
    #navigation a.selected {
      color: #1193F6;
      border-bottom: 2px solid #F0F5FE;
    }

.thumbs {
  text-align: center !important;
}
  .thumbs a {
    margin: 5px;
  }

code, pre, .gist, .gist-data, .gist-meta {
  font-family: 'InconsolataMedium', Menlo, "Courier New" !important;
  font-size: 12px !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

  pre, code {
    background-color: #f8f8ff;
    border: 1px solid #dedede;
    padding: 1px 2px;
  }
  pre {
    padding: 0.25em 0.5em;
    margin-left: 20px;
    margin-right: 20px;
  }
    pre code {
      background-color: none;
      border: none;
      padding: 0px;
    }

    code.has-jax {
      font: inherit; 
      font-size: 100%; 
      background: inherit; 
      border: inherit;
    }

.gist {
  position: relative;
  margin-bottom: 20px !important;
  margin-left: 20px;
  margin-right: 20px;
}
  .gist a:hover {
    border-bottom: none !important;
    text-decoration: underline !important;
  }
  .gist-data {
    border-bottom: none !important;
  }
  .gist-meta {
    font-size: 11px !important;
    position: absolute;
    left: 0px;
    bottom: -27px;
    right: 0px;
    display: none;
  }
  .gist:hover .gist-meta {
    border: 1px solid #dedede;
    display: block;
  }


blockquote {
  font-family: Georgia, 'Times New Roman', Times;
  font-style: italic;
  font-size: 42px;
  line-height: 0.3em;
  margin: 0px 20px;
}
  blockquote p {
    font-size: 14px;
    line-height: 1.4;
  }
  blockquote b, blockquote strong {
    font-family: Georgia, 'Times New Roman', Times;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
  }
  blockquote:before {
    color: #e6e6e6;
    content: '“';
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: -28px;
  }


.sidebar {
  float: right;
  width: 270px;
}
  .sidebar p {
    margin-bottom: 8px;
  }

  .sidebar .section {

  }
    .sidebar .section h2 {
      font-size: 17px;
      margin-bottom: 3px;
      margin-left: 25px;
    }


.post-world {
  margin: 0px 20px 0px 50px;
  float: left;
  width: 640px;
}

.post-item {
  margin-bottom: 100px;
}

.post-title {
  position: relative;
}
  .post-title a {
    color: #000;
    border-bottom: 2px solid transparent;
  }
    .post-title a:hover {

    }

.post-title-sub {
  color: #bbb;
  font-size: 13px;
  position: absolute;
  bottom: -10px;
  left: 0px;
}
  .post-title-sub a {
    color: #bbb;
  }
    .post-title-sub a:hover {
      border-bottom: 2px solid #F8F8F8 !important;
    }
  .post-title-sub .hash {
    color: #eee;
    font-style: normal;
  }

.post-content {

}
  .post-content p {
    text-align: justify;
  }

.post-meta {
  float: left;
  width: 40px;
  margin-top: 2px;
  margin-left: -50px;
  border-right: 1px solid #E6E6E6;
}
  .post-meta p {
    margin: 0px;
  }
  .post-meta .date {
    color: #cdcdcd;
    text-align: center;
    line-height: 1.1em;
    margin: 8px 0px 5px 0px;
  }
    .post-meta .date i {
      font-style: normal;
      font-size: 24px;
      display: block;
    }
    .post-meta .date b {
      font-family: 'InconsolataMedium', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
      font-weight: normal;
      font-size: 14px;
      display: block;
    }

.post-comments {
}

.post-comment-link {

}
  .post-comment-link a {
    color: #939393;
  }

.post-paginator {
  text-align: center;
  position: relative;
  width: 860px;
  margin: 0px auto 70px auto;
}
  .post-paginator .older {
    position: absolute;
    left: 0px;
  }
  .post-paginator .newer {
    position: absolute;
    right: 0px;
  }

.archive-list {
  width: 400px;
  margin: 0px auto;
}
  .archive-list ul {
    list-style: none;
  }
  .archive-list h1 {
    text-align: center;
  }

.archive-list li {
    margin: 0px;
  }
    .archive-list li .title {

    }
    .archive-list li .date {
      color: #ddd;
      width: 90px;
      float: left;
      text-align: right;
      padding-right: 5px;
    }

#disqus_thread {
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
  #disqus_thread h3 {
    font-family: 'InconsolataMedium';
    font-size: 20px;
  }
  #dsq-content {
    border-top: 1px solid #ccc;
    padding-top: 8px;
    margin-top: 25px;
  }

#error-404 {
  background: url("../images/404-dead-link.png") center center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0px 0px -250px;
  height: 300px;
  width: 500px;
}


#about {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:-300px;
  margin-right:-300px;
  text-align: justify;
}
  #about .info {
    text-align: center;
  }
    #about .info .connections {
    }
    #about .info .connections a {
      padding-right: 5px;
      padding-bottom: 10px;
    }

.recent-articles {
  font-size: 13px;
/*  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);*/
}
  .recent-articles ul {
    color: #ddd;
    list-style: none;
  }
    .recent-articles ul li {
      margin-left: 10px;
    }
